
    * {
            font-family: "Poppins", sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-position: center;
        }

        .wrapper {
            position: relative;
            width: 400px;
            height: 450px;
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(15px);
        }

        .wrapper:hover {
            box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
        }

        .wrapper h2 {
            color: #fff;
            text-align: center;
        }

        .wrapper .btn {
            width: 100%;
            height: 40px;
            background: #fff;
            outline: none;
            border: none;
            border-radius: 40px;
            cursor: pointer;
            font-size: 1em;
            font-weight: 500;
            color: #000;
            margin-top: 20px;
        }

        .btn:hover {
            background: #ffffea;
        }

        .wrapper .signup-link {
            font-size: 0.9em;
            color: #fff;
            text-align: center;
            margin: 25px 0 10px;
        }

        .wrapper .signup-link a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }

        .wrapper .signup-link a:hover {
            text-decoration: underline;
        }

        @media (max-width: 360px) {
            .wrapper {
                width: 100%;
                height: 100vh;
                border: none;
                border-radius: 0px;
            }

            .wrapper .input-box {
                width: 290px;
            }

            #img {
                z-index: -90;
            }
        }

        .box input[type = "text"], .box input[type = "password"], .box select{
            display: block;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            background: #dddddd;
            border: 0;
            border-radius: 5px;
            padding: 14px 10px;
            width: 320px;
            outline: none;
            color: #565f79;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;

        }
        ::-webkit-input-placeholder {
            color: #565f79;
        }
        .box input[type = "text"]:focus, .box input[type = "password"]:focus, .box select:focus {
            border: 1px solid #79A6FE;

        }