{% extends 'manager_base.html' %}

{% block body %}
    <div style="padding: 15px;">
        <blockquote class="layui-elem-quote layui-text">
            录入司机信息
        </blockquote>
        <div class="layui-card layui-panel">
             <div class="layui-card-header">
                <i class="fas fa-file-alt c1"></i>
                 司机信息表单
            </div>
            <div class="layui-card-body">
                <form class="layui-form layui-form-pane" id="form">
                     <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input type="text"  placeholder="姓名" lay-verify="required" class="layui-input" id="name">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <select lay-verify="required" class="layui-select" id="sex">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">电话号码</label>
                        <div class="layui-input-block">
                            <input type="text"  placeholder="电话号码" lay-verify="required" class="layui-input" id="telephone_first">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">备用电话</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="选填" class="layui-input"  id="telephone_second">
                        </div>
                    </div>
                </form>
                 <div class="layui-form-item ">
                        <button class="layui-btn" type="button" id = 'add'>新增</button>
                        <a href="/manager/driver_message_manage" class="layui-btn layui-btn-primary">返回</a>
                 </div>
            </div>

        </div>
        <br><br>
    </div>
   
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $("#driver").addClass('layui-nav-itemed')
        $("#driver_message_manage").addClass('layui-this')
    </script>
    <script type="text/javascript">
       $(function () {
            bindEvent()
       })
       function bindEvent() {
           $('#add').click(function () {
               $('.error_msg').empty();
               $.ajax({
                   url: '/manager/driver_message_manage/driver_message_add',
                   type: 'post',
                   data: {
                       'name' : $('#name').val(),
                       'sex' : $('#sex').val(),
                       'telephone_first' : $('#telephone_first').val(),
                       'telephone_second' : $('#telephone_second').val()
                   },
                   dataType: 'JSON',
                   success: function (res) {
                       if(res.status){
                           alert('添加成功');
                       } else {
                           $.each(res.errors,function (name,data){
                               $("#id_"+name).next().text(data[0]);
                           })
                       }
                   }
               })
           })
       }
    </script>
{% endblock %}