{% extends 'passenger_base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/line_view.css' %}">
{% endblock %}

{% block body %}
    <div style="padding: 15px;">
        <blockquote class="layui-elem-quote layui-text">
            违章详情
        </blockquote>
        <div class="layui-card layui-panel">
             <div class="layui-card-header">
                <i class="fas fa-route c1"></i>
                 违章具体内容
            </div>
            <div class="layui-card-body">
                <div class="layui-panel">
                    <div style="padding: 20px; text-align: center"><h3>{{ title }}</h3></div>
                    <div style="padding-left: 20px;padding-right: 20px;padding-bottom: 20px;">{{ text }}</div>
                </div>
                <div style="margin-top: 10px;display: flex;justify-content: center">
                    <a href="/passenger/complaint_result" class="layui-btn layui-btn-primary">返回</a>
                </div>
            </div>
        </div>
        <br><br>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $("#violation").addClass('layui-nav-itemed')
        $("#violation_report").addClass('layui-this')
    </script>
{% endblock %}