{% extends 'manager_base.html' %}
{% block body %}
     <div style="padding: 15px;">
        <blockquote class="layui-elem-quote layui-text">
            站点管理
        </blockquote>
         <div class="layui-form" >
             <div class="layui-form-item " style="float: right">
                 <div class="layui-input-group">
                     <input type="text" placeholder="站点名称" class="layui-input" id="search_text">
                     <div class="layui-input-split layui-input-suffix" style="cursor: pointer;">
                         <i class="layui-icon layui-icon-search" id="search"></i>
                     </div>
                 </div>
             </div>
             <div style="clear: both"></div>
         </div>
        <div class="layui-card layui-panel" >
            <div class="layui-card-header">
                <i class="fas fa-list c1"></i>
                站点表
                 <a href="/manager/site_manage/site_add" class="layui-btn layui-btn-primary layui-btn-radius layui-layout-right" style="margin-right: 30px;margin-top: 2px">
                     新增站点
                 </a>
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="test"></table>
            </div>
        </div>
         <br><br>
     </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $("#line").addClass('layui-nav-itemed')
        $("#site_manage").addClass('layui-this')
    </script>
    <script type="text/html" id="line_self">
        <div class="layui-clear-space">
            <a class="layui-font-blue" lay-event="detail">详情</a>
        </div>
    </script>  
    <script type="text/html" id="barDemo">
        <div class="layui-clear-space">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-bg-red layui-btn-xs" lay-event="delete">
                删除
            </a>
        </div>
    </script>  
     
    <script>
        layui.use('table', function () {
            var table = layui.table;
            var site = {{ form|safe }};
            // 已知数据渲染
            var inst = table.render({
                elem: '#test',
                cols: [[ //标题栏
                    {field: 'id', title: 'ID',  sort: true},
                    {field: 'name', title: '站点名称'},
                    {title:'所属线路',  toolbar: '#line_self'},
                    {fixed: 'right', title:'操作',  toolbar: '#barDemo'},
                ]],
                done: function () {
                    table.on('tool(test)',function (obj){
                        var data = obj.data
                        if(obj.event === 'edit'){
                            window.location.href=`/manager/site_manage/${data.id}/site_edit`
                        } else if (obj.event === 'delete'){
                            window.location.href=`/manager/site_manage/${data.id}/site_delete`
                        } else if (obj.event === 'detail'){
                            window.location.href=`/manager/site_manage/${data.id}/site_view`
                        }
                    });
                },
                data: site,
                //skin: 'line', // 表格风格
                //even: true,
                page: true, // 是否显示分页
                limits: [5, 10, 15],
                limit: 5 // 每页默认显示的数量
            });
            $('#search').click(function () {
                 $.ajax({
                   url: '/manager/site_manage/site_search',
                   type: 'post',
                   data: { 'search_text' : $('#search_text').val()},
                   dataType: 'JSON',
                   success: function (res) {
                       if(res.status){
                           table.reload('test', {
                               data: res.data
                           }) 
                       }
                   }
               })
            });

        });
    </script>
{% endblock %}